/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");
body {
    background-color: #5a0058;
    padding: 50px;
    color: white;
}
main p {
    margin-bottom: 20px;
}
