@use "sass:math";

@import "_functions";

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
// @import "_common";
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$mainColor: #37393f;
$secondColor: #fff;
$heroColorTitle: #fff;
$heroColorText: #b9b9b9;
$titleColor: #37393f;
$colorText: #7d7d7d;
$listColor: #37393f;
$linkColor: #6b77e5;

body {
    font-family: "Inter";
    $mainColor: #37393f;
    font-size: toRem(18);
}
.wrapper {
    overflow: clip;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: #{$containerWidth}px;
    margin: 0 auto;
    padding-left: toRem(15);
    padding-right: toRem(15);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.top-header {
    position: relative;
    z-index: 5;
    background: #37393f;
    padding-top: toRem(22);
    padding-bottom: toRem(22);
    transition: left 0.3s;
    @media (max-width: toEm(991.98)) {
        position: fixed;
        bottom: 0;
        left: 100%;
        width: 100%;
        min-height: toRem(120);
    }
    @media (max-width: toEm(450)) {
        padding-top: toRem(10);
        padding-bottom: toRem(10);
    }
    &__container {
        display: flex;
        align-items: center;
        column-gap: toRem(50);
        row-gap: toRem(10);
        @media (max-width: toEm(450)) {
            flex-direction: column;
        }
    }
}
.contacts-header {
    color: $secondColor;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    column-gap: toRem(42);
    row-gap: toRem(10);

    > :nth-child(2) {
        flex-grow: 1;
    }
    @media (max-width: toEm(991.98)) {
        flex-direction: column;
        align-items: flex-start;
    }
    &__item {
        font-size: toRem(14);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        line-height: 1.2;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: toEm(991.98)) {
            // @include adaptiveValue(font-size, 14, 12, 1, 600, 320);
        }
        &--icon-1 {
            &::before {
                content: "";
                width: toRem(16);
                height: toRem(22);
                flex-basis: toRem(16);
                margin-right: toRem(9);
                background: url("../img/header-top/icon.svg") center / cover
                    no-repeat;
            }
        }
        &--icon-2 {
            &::before {
                content: "";
                width: toRem(20);
                height: toRem(15);
                flex-basis: toRem(20);
                margin-right: toRem(11);
                background: url("../img/header-top/icon_2.svg") center / cover
                    no-repeat;
            }
        }
        &--icon-3 {
            &::before {
                content: "";
                width: toRem(15);
                height: toRem(15);
                flex-basis: toRem(14);
                margin-right: toRem(4);
                background: url("../img/header-top/icon_3.svg") center / cover
                    no-repeat;
            }
        }
    }
}
.actions-header {
    display: flex;
    align-items: center;
    column-gap: toRem(16);
    row-gap: toRem(10);

    flex-shrink: 0;
    &__item {
        flex: 0 0 toRem(18);
        width: toRem(17);
        transition: 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.2);
            }
        }
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 17 / 17;
            object-fit: cover;
        }
    }
}

/* Header bottom */

.bottom-header {
    background-color: #fff;
    border-bottom: 1px solid #000;
    &__container {
        padding-top: toRem(33);
        padding-bottom: toRem(33);
        display: flex;

        column-gap: toRem(40);
        @include adaptiveValue(column-gap, 30, 15, 1, 1052, 992);
        row-gap: toRem(10);
        align-items: center;
        @media (max-width: toEm(991.98)) {
            padding-top: toRem(5);
            padding-bottom: toRem(0);
            column-gap: toRem(20);
        }
        @media (max-width: toEm(500)) {
        }
    }

    .logo {
        position: relative;
        z-index: 5;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        span {
            font-size: toRem(25);
            color: $mainColor;
            font-family: "Poppins";
            font-weight: 700;
            line-height: 1.5;
        }
        @media (max-width: toEm(991.98)) {
        }
    }
}
.button-header {
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    @media (any-hover: hover) {
        &:hover {
            a {
                background-color: #1127ea;
            }
        }
    }
    @media (max-width: toEm(450)) {
        display: none;
    }
    a {
        font-size: toRem(22);
        color: $secondColor;
        padding: toEm(22) toEm(35);
        background-color: #6b77e5;
        color: $secondColor;
        font-family: "Cabin";
        font-weight: 600;
        text-transform: capitalize;
        @media (max-width: toEm(991.98)) {
            padding: toEm(6) toEm(10);
            @include adaptiveValue("font-size", 22, 16, 1, 991.8, 450);
        }
        @media (max-width: toEm(540)) {
        }
    }
}
.menu {
    &__button {
        text-align: right;
        display: none;
        z-index: inherit;
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        @media (max-width: toEm(450)) {
            display: block;
        }
    }
    &__body {
        @media (max-width: toEm(991.98)) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 100%;
            background-color: rgb(160, 160, 160);
            padding: 50px 15px 130px 15px;
            overflow: auto;
            transition: left 0.3s;
            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: 100%;
                width: 100%;
                height: toRem(43);
                z-index: 2;
                background-color: rgba(188, 188, 188, 0.534);
                transition: left 0.3s;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: toRem(30);
        @include adaptiveValue(column-gap, 20, 15, 1, 1100, 992);
        row-gap: toRem(10);
        @media (max-width: toEm(991.98)) {
            flex-direction: column;
            row-gap: toRem(20);
            text-align: right;
        }
    }

    &__item {
        align-items: center;

        @media (any-hover: hover) {
            &:hover {
                .menu__link {
                    text-decoration: underline;
                }
            }
        }
        &--parent {
            position: relative;
            transition: 0.3s;
            text-align: right;
            @media (any-hover: hover) {
                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(0px, 0px);
                        pointer-events: all;
                    }
                    .menu__link {
                        text-decoration: underline;
                        &::after {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
            .menu__link {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                gap: toRem(10);
                transition: 0.3s;
                @media (max-width: toEm(991.98)) {
                    display: block;
                }
                &::after {
                    content: "";
                    background: url("../img/header-bot/arrow.svg") 0 0 no-repeat;
                    height: toRem(5);
                    flex: 0 0 toRem(10);
                    width: toRem(10);
                    transition: 0.3s;
                    @media (max-width: toEm(991.98)) {
                        display: none;
                    }
                }
            }
        }
    }

    &__link {
        font-size: 18px;
        @media (max-width: toEm(991.98)) {
            font-size: toRem(26);
        }
    }
}
.sub-menu {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    padding-top: toRem(5);
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 10%);
    transition: 0.3s;
    pointer-events: none;
    @media (max-width: toEm(991.98)) {
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
    }
    &__list {
        padding: toRem(15);
        border-radius: toRem(10);
        width: toRem(150);
        background-color: #dbdbdbb0;
        @media (max-width: toEm(991.98)) {
            width: 100%;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(5);
            @media (max-width: toEm(991.98)) {
                margin-bottom: toRem(10);
            }
        }
    }

    &__link {
        font-size: toRem(18);
        color: $mainColor;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.icon-menu {
    position: relative;
    z-index: 5;
    display: none;
    width: toRem(30);
    flex: 0 0 toRem(30);
    height: toRem(30);
    position: relative;
    &::before,
    &::after,
    span {
        content: "";
        width: 100%;
        height: toRem(2);
        position: absolute;
        left: 0;
        background-color: #000;
        transition: 0.3s;
    }
    &::before {
        .menu-open & {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: toRem(-1);
        }
        top: 0;
    }
    &::after {
        .menu-open & {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: toRem(-1);
        }
        bottom: 0;
    }
    span {
        top: 50%;
        margin-top: toRem(-1);
        .menu-open & {
            transform: scale(0);
        }
    }
    @media (max-width: toRem(991.98)) {
        display: block;
    }
}
.menu-open {
    .top-header {
        left: 0;
    }
    .menu {
        &__body {
            left: 0;
            &::before {
                left: 0;
            }
        }
    }
    body {
        overflow: hidden;
    }
}

/* HERO */
.page {
    &__hero {
        &:not(:last-child) {
            margin-bottom: toRem(145);
            @include adaptiveValue("margin-bottom", 145, 50, 1, 1220, 320);
        }
    }
    &__plan {
        &:not(:last-child) {
            margin-bottom: toRem(250);
            @include adaptiveValue("margin-bottom", 250, 70, 1, 1220, 320);
        }
    }
    &__brands {
        margin-bottom: toRem(82);
        @include adaptiveValue("margin-bottom", 82, 30, 1, 1220, 320);
    }
}
.hero {
    padding-top: toRem(216);
    &__container {
        background: url("../img/hero/image_1.webp") center right / cover
            no-repeat;
        min-height: 100svh;
        max-width: toRem(1920);
        padding-left: 0;
        padding-right: 0;
        display: flex;
    }
    // &__image {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
    &__body {
        background: rgba(55, 57, 63, 0.91);
        // min-width: toRem(500);
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 toRem(828);
        // padding: toRem(20) toRem(116);
        @media (max-width: toEm(828)) {
            flex: 1 1 100%;
            padding: toRem(20) toRem(15);
        }
    }

    &__content {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: center;
        max-width: toRem(530);
        flex-shrink: 1;
    }

    &__sub-title {
        display: flex;
        align-items: center;
        gap: toRem(7);
        position: relative;

        color: $heroColorTitle;
        font-weight: 600;
        line-height: 1.46;
        &::before {
            content: "";

            width: toRem(11);
            height: toRem(11);
            flex: 0 0 toRem(11);
            background: #40ddb6;
        }
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    &__title {
        color: $heroColorTitle;
        font-family: "Poppins";
        font-size: toRem(60);
        font-weight: 700;
        line-height: 1.1;
        @include adaptiveValue("font-size", 60, 34, 1, 650, 320);

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        span {
            color: #40ddb6;
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(35);
        }
        > :not(:last-child) {
            margin-bottom: toRem(10);
        }
        p {
            color: $heroColorText;
            color: $heroColorText;
            font-weight: 500;
            line-height: 1.46;
        }
    }
}
.active-hero {
    display: flex;
    column-gap: toRem(30);
    row-gap: toRem(20);
    @media (max-width: toEm(500)) {
        flex-direction: column;
        align-items: center;
    }
    &:not(:last-child) {
        margin-bottom: toRem(20);
    }
    &__button {
        a {
            font-size: toRem(22);
            color: $mainColor;
            padding: toEm(22) toEm(27);
            background: #40ddb6;
            font-weight: 600;
            text-transform: capitalize;
            @media (any-hover: hover) {
                &:hover {
                    background: #0a7258;
                    color: #fff;
                }
            }
        }
    }
}
.button {
}
.video {
    display: flex;
    align-items: center;
    gap: toRem(10);
    &__image {
        flex: 0 1 toRem(60);
        border-radius: 50%;
        @media (any-hover: hover) {
            &:hover {
                outline: 1px solid black;
            }
        }
        img {
            border-radius: 50%;
            aspect-ratio: 60 / 60;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
/* PLAN */

.plan {
    &__container {
        display: flex;
        column-gap: toRem(121);
        row-gap: toRem(20);
        @include adaptiveValue("column-gap", 121, 20, 1, 1250, 700);
        @media (max-width: toEm(828)) {
            flex-wrap: wrap;
        }
    }

    &__left {
        flex: 0 0 34.75%;
        @media (max-width: toEm(828)) {
            flex: 0 0 100%;
        }
    }

    &__right {
    }

    &__sub-title {
        color: $titleColor;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: toRem(6);
        &::before {
            content: "";
            width: toRem(12);
            height: toRem(12);
            flex: 0 0 toRem(12);
            background: #40ddb6;
        }
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__title {
        color: $titleColor;
        font-family: "Poppins";
        font-size: 40px;
        @include adaptiveValue("font-size", 40, 28, 1, 828, 320);
        font-weight: 700;
        line-height: 1.21;
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        > :not(:last-child) {
            margin-bottom: toRem(10);
        }
        p {
            color: $colorText;
            line-height: 1.46;
        }
    }

    &__list {
        &:not(:last-child) {
            margin-bottom: toRem(43);
        }
    }

    &__box {
        &:not(:last-child) {
            margin-bottom: toRem(37);
        }
    }

    &__button {
        &:not(:last-child) {
            margin-bottom: toRem(30);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #1127ea;
            }
        }
        font-size: toRem(22);
        color: $secondColor;
        padding: toEm(22) toEm(35);
        @include adaptiveValue("font-size", 22, 18, 1, 828, 320);
        background: #6b77e5;
        color: $secondColor;
        font-family: "Cabin";
        font-weight: 600;
        text-transform: capitalize;
    }
}
.side-article {
    &__image {
        &:not(:last-child) {
            margin-bottom: toRem(20);
        }
        min-width: 100%;
        overflow: hidden;
        aspect-ratio: 424 / 452;
        img {
            aspect-ratio: 424 / 452;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        color: $titleColor;
        font-family: "Poppins";
        font-size: 30px;
        @include adaptiveValue("font-size", 30, 22, 1, 828, 320);
        font-weight: 600;
        line-height: 1.21;
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        > :not(:last-child) {
            margin-bottom: toRem(10);
        }
        color: $colorText;
        line-height: 1.46;
    }

    &__link {
        &:not(:last-child) {
            margin-bottom: toRem(15);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: none;
            }
        }
        color: $titleColor;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: underline;
    }
}
.list-plan {
    > :not(:last-child) {
        margin-bottom: toRem(23);
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $listColor;
        color: #37393f;
        font-family: "Poppins";
        font-size: 20px;
        &::before {
            content: "";
            width: toRem(27);
            height: toRem(27);
            background: url("../img/plan/vector.svg") center / cover no-repeat;
            flex: 0 0 toRem(27);
        }
    }
}
.box-plan {
    display: flex;
    column-gap: toRem(20);
    row-gap: toRem(10);
    flex-wrap: wrap;
    &__item {
    }
}
.item-box {
    flex: 1 1 toRem(296);
    padding: toRem(32);
    display: flex;
    column-gap: toRem(19);

    &__image {
        align-self: flex-start;
        flex: 0 0 toRem(40);
        img {
            aspect-ratio: 40 / 40;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
    }
    &__title {
        color: $titleColor;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
    }

    &__text {
        p {
            color: $colorText;
            font-size: 16px;
            line-height: 1.35;
        }
    }
}
/* Brands */
.page {
    &__brands {
    }
}
.brands {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(103), toRem(170)));
        grid-auto-rows: 1fr;
        column-gap: toRem(25);
        row-gap: toRem(15);
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        @media (max-width: toEm(800)) {
            justify-content: center;
        }
    }

    &__title {
        display: none;
    }

    &__image {
        transition: transform 0.3s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
        img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
/* Solutions */
.page {
    &__solutions {
    }
}
.solutions {
    &__sub-title {
        color: $titleColor;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(7);
        &::before {
            content: "";
            width: toRem(12);
            height: toRem(12);
            flex: 0 0 toRem(12);
            background: #40ddb6;
        }
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }

    &__title {
        color: $titleColor;
        text-align: center;
        font-family: "Poppins";
        font-size: 40px;
        @include adaptiveValue("font-size", 40, 28, 1, 828, 320);
        font-weight: 700;
        line-height: 1.21;
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }

    &__box {
    }
}
.box-solutions {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(toRem(385), toRem(385)));
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: toRem(32);
    @include adaptiveValue("column-gap", 32, 20, 1, 1220, 320);
    row-gap: toRem(27);
    // justify-items: center;
    // align-items: center;
    @media (max-width: toEm(800)) {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    &__item {
    }
}
.item-solutions {
    background-color: #f4f4f4;
    padding: toRem(30);
    @include adaptiveValue("padding", 30, 0, 1, 1220, 320);
    display: flex;
    column-gap: toRem(20);
    justify-content: space-between;
    &__body {
        // max-width: toRem(163);

        > :not(:last-child) {
            margin-bottom: toRem(27);
        }
    }

    &__title {
        color: $titleColor;
        font-family: "Poppins";
        font-size: 25px;
        font-weight: 600;
        line-height: 1.27;
    }

    &__link {
        color: $linkColor;
        font-weight: 600;
        text-transform: capitalize;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__image {
        align-self: flex-start;
        flex: 0 0 toRem(72);
        img {
            aspect-ratio: 72 / 72;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &--link {
        background-color: #6b77e5;
        justify-content: center;
        align-items: center;
    }
    &__button {
        font-size: toRem(25);
        color: $secondColor;
        font-weight: 600;
        text-transform: capitalize;
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
